In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("./archive/measurements.csv")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 12 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   distance       388 non-null    object
 1   consume        388 non-null    object
 2   speed          388 non-null    int64
 3   temp_inside    376 non-null    object
 4   temp_outside   388 non-null    int64
 5   specials       93 non-null     object
 6   gas_type       388 non-null    object
 7   AC             388 non-null    int64
 8   rain           388 non-null    int64
 9   sun            388 non-null    int64
 10  refill liters  13 non-null     object
 11  refill gas     13 non-null     object
dtypes: int64(5), object(7)
memory usage: 36.5+ KB

In [8]:
df.head()

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN

In [12]:
df['refill liters'].value_counts()

45      2
39      2
37,7    2
38,3    1
41      1
37      1
37,6    1
38      1
10      1
37,2    1
Name: refill liters, dtype: int64

In [13]:
df['refill gas'].value_counts()

SP98    8
E10     5
Name: refill gas, dtype: int64

In [10]:
df['gas_type'].value_counts()

SP98    228
E10     160
Name: gas_type, dtype: int64

In [11]:
df['consume'].value_counts()

4,5     27
5       27
4,6     22
4,7     21
4,3     20
4,1     20
4,8     19
5,1     19
4       17
4,4     17
4,9     16
4,2     15
5,3     14
3,9     14
5,2     12
3,8     11
5,7     11
5,6     10
5,4      9
3,7      8
5,8      7
5,5      6
5,9      5
6,3      4
3,6      4
6,1      4
6,4      4
6,2      4
6        4
6,5      2
7,4      2
8,1      2
3,3      1
6,6      1
8,7      1
9,9      1
9        1
11,5     1
12,2     1
6,9      1
7,9      1
7,1      1
10,8     1
Name: consume, dtype: int64

In [14]:
df.corr()

                 speed  temp_outside        AC      rain       sun
speed         1.000000      0.015411 -0.035408  0.009489  0.081618
temp_outside  0.015411      1.000000  0.167562 -0.186315  0.346903
AC           -0.035408      0.167562  1.000000  0.242915  0.088598
rain          0.009489     -0.186315  0.242915  1.000000 -0.112650
sun           0.081618      0.346903  0.088598 -0.112650  1.000000

In [15]:
df['specials'].value_counts()

rain                  32
sun                   27
AC rain                9
ac                     8
AC                     6
snow                   3
sun ac                 3
AC Sun                 1
AC sun                 1
ac rain                1
AC snow                1
half rain half sun     1
Name: specials, dtype: int64

In [16]:
df['AC'].value_counts()

0    358
1     30
Name: AC, dtype: int64

In [17]:
df['rain'].value_counts()

0    340
1     48
Name: rain, dtype: int64

In [18]:
df['sun'].value_counts()

0    356
1     32
Name: sun, dtype: int64