In [2]:
import pandas as pd
import sqlalchemy as alch
import numpy as np
from getpass import getpass
import tools.cleaning as cle

## Getting and cleaning the data

In [2]:
simpsons_data = pd.read_csv("./data/simpsons_script_lines.csv")

/Users/unai/opt/anaconda3/envs/Ironhack/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3166: DtypeWarning: Columns (4,5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Make a copy of the dataframe.

In [3]:
simpsons_relevant_data = simpsons_data.copy()

Delete the columns that are not necessary.

In [4]:
simpsons_relevant_data.drop(["id", "number", "raw_text", "speaking_line", "normalized_text", "word_count"], axis = 1, inplace = True)

Delete the columns without data. They didn't have any phrase or character ID, only a location.

In [5]:
cle.drop_nan(simpsons_relevant_data)

### Cleaning the data for the phrases table in SQL

Save the data into a csv file.

In [6]:
simpsons_relevant_data.to_csv("./data/simpsons_relevant_data.csv", index = False)

Create a dataframe with the columns for the phrases table in SQL.

In [7]:
simpsons_phrases = simpsons_relevant_data[['episode_id', 'character_id', 'raw_character_text', 'spoken_words']].sort_values(by = 'episode_id')

Delete the columns where the character name was not valid (It said '"Just Stamp the Ticket" Man').

In [8]:
simpsons_phrases['raw_character_text'].replace(['"Just Stamp the Ticket" Man'], np.nan, inplace = True)
cle.drop_nan(simpsons_phrases)

Replace all the double quotes ("") with single quotes (''), otherwise SQL gives an error and doesn't add the row.

In [9]:
cle.replace(simpsons_phrases, 'raw_character_text', r"[\"]", r"'")

/Users/unai/Iron_Hack_Course/Sentiment_analysis_project/tools/cleaning.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  replacement = df[column] = df[column].str.replace(pattern1, pattern2)

148920             Barney Gumble
149014             Homer Simpson
149013                     Clerk
149012             Homer Simpson
149011                     Clerk
                   ...
147654             Homer Simpson
147655             Homer Simpson
147657    Apu Nahasapeemapetilon
147647    Apu Nahasapeemapetilon
147619             Marge Simpson
Name: raw_character_text, Length: 131728, dtype: object

Repeat the operation in the spoken words column.

In [10]:
cle.replace(simpsons_phrases, 'spoken_words', r"[\"]", r"'")

148920                                   Drinks all around!
149014                                        But... but...
149013              Less beard rental, less Christmas club.
149012                                     Wait a minute...
149011                             Less costume purchase --
                                ...
147654                      Go, go make magic. You just go.
147655                                             Revue...
147657                             Card counting is simple.
147647    Remember, for this legal but-frowned-upon sche...
147619                      But you don't go to our church.
Name: spoken_words, Length: 131728, dtype: object

Replace the % sign with per cent

In [11]:
cle.replace(simpsons_phrases, 'spoken_words', "%", "per cent")

148920                                   Drinks all around!
149014                                        But... but...
149013              Less beard rental, less Christmas club.
149012                                     Wait a minute...
149011                             Less costume purchase --
                                ...
147654                      Go, go make magic. You just go.
147655                                             Revue...
147657                             Card counting is simple.
147647    Remember, for this legal but-frowned-upon sche...
147619                      But you don't go to our church.
Name: spoken_words, Length: 131728, dtype: object

Create a column with an ID to use as primary key in the SQL table.

In [12]:
cle.create_index(simpsons_phrases)

,id,episode_id,character_id,raw_character_text,spoken_words
0,1,1,18,Barney Gumble,Drinks all around!
1,2,1,2,Homer Simpson,But... but...
2,3,1,28,Clerk,"Less beard rental, less Christmas club."
3,4,1,2,Homer Simpson,Wait a minute...
4,5,1,28,Clerk,Less costume purchase --
...,...,...,...,...,...
131723,131724,568,2,Homer Simpson,"Go, go make magic. You just go."
131724,131725,568,2,Homer Simpson,Revue...
131725,131726,568,208,Apu Nahasapeemapetilon,Card counting is simple.
131726,131727,568,208,Apu Nahasapeemapetilon,"Remember, for this legal but-frowned-upon sche..."
131727,131728,568,1,Marge Simpson,But you don't go to our church.

Save the dataframe as csv

In [19]:
simpsons_phrases.to_csv("./data/simpsons_phrases.csv", index = False)

### Cleaning the data for the characters table in SQL

Create a dataframe for the characters table.

In [14]:
simpsons_characters2 = simpsons_phrases[['character_id', 'raw_character_text']]

Group all the characters by ID

In [15]:
characters_grouped = simpsons_characters2.groupby('character_id')

The grouped.first() shows the first of each grouped line, that is, the first from each entry with the same ID that was grouped.

In [16]:
characters_grouped = characters_grouped.first()

Reset the index.

In [18]:
characters_grouped.reset_index(inplace=True)

Drop all the duplicates.

In [20]:
characters_grouped.drop_duplicates(subset = ['raw_character_text'], keep = 'first', inplace = True)

Replace the "/" character, otherwise SQL gives an error and doesn't add the row.

In [21]:
cle.replace(characters_grouped, 'raw_character_text', r"[\/]", "")

/Users/unai/Iron_Hack_Course/Sentiment_analysis_project/tools/cleaning.py:18: FutureWarning: The default value of regex will change from True to False in a future version.
  replacement = df[column] = df[column].str.replace(pattern1, pattern2)

0              Marge Simpson
1              Homer Simpson
2            Seymour Skinner
3                      JANEY
4              Todd Flanders
                ...
6622    TV-STATION ANNOUNCER
6625                 Tv Wife
6627              Tv Husband
6633             Pawn Broker
6636       Homer-ish Husband
Name: raw_character_text, Length: 6214, dtype: object

Make all the ID entries numeric.

In [22]:
characters_grouped['character_id'] = characters_grouped['character_id'].apply(pd.to_numeric)

Sort all the values by ID.

In [24]:
characters_grouped.sort_values(by='character_id', ascending = True, inplace = True)

Drop duplicates.

In [26]:
characters_grouped.drop_duplicates(subset = ['character_id'], keep = 'first', inplace = True)

Save the dataframe in a csv file.

In [49]:
characters_grouped.to_csv("./data/simpsons_characters.csv", index = False)

## Connecting to SQL and creating a database

In [3]:
password = getpass("Introduce tu pass de sql: ")
dbName="The_simpsons"
connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"

Introduce tu pass de sql: ········

In [4]:
engine = alch.create_engine(connectionData)
print("Conected")

Conected

## Creating a table and entering data

In [ ]:
engine.execute("""
    CREATE DATABASE The_simpsons;
""")

In [ ]:
engine.execute("""
    USE The_simpsons;
""")

#### Creating the table characters and inserting the data

In [73]:
engine.execute("""
    DROP TABLE IF EXISTS characters;
""")

In [74]:
engine.execute("""
    CREATE TABLE characters(
    character_id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
    name VARCHAR(40) NOT NULL UNIQUE);
""")

In [75]:
for n, line in characters_grouped.iterrows():
    engine.execute(
        f"""
        INSERT INTO characters VALUES
        ({line['character_id']},"{line['raw_character_text']}");
       """
    )

#### Creating the table phrases and inserting the data

In [72]:
engine.execute("""
    DROP TABLE IF EXISTS phrases;
""")

In [76]:
engine.execute("""
    CREATE TABLE phrases(
    id INT PRIMARY KEY NOT NULL AUTO_INCREMENT,
    episode_id INT NOT NULL,
    character_id INT NOT NULL,
    phrase VARCHAR(3500) NOT NULL,
    FOREIGN KEY(character_id) REFERENCES characters(character_id));   
""")

In [77]:
for n, line in simpsons_phrases.iterrows():
    engine.execute(
        f"""
        INSERT INTO phrases (id, episode_id, character_id, phrase) VALUES
        ({line['id']}, {line['episode_id']}, {line['character_id']},"{line['spoken_words']}");
       """
    )